@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
    @apply py-5;
    @apply px-11;
    @apply min-h-screen;
  }
}

/* body {
  padding: 0;
  margin: 0;

  background-color: #fdfeee;
} */